<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to about page</h1>
    {{!-- handlebar inbuilt helper function --}}
    <ul>
    {{#each key.languages}}
    <li>{{this}}</li>
    {{/each}}
    </ul>
    {{uppwrCase "java"}}
</body>
</html>